@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

$pop: 'Poppins', sans-serif;
$robot: 'Roboto', sans-serif;

*,html,body {
    font-family:$robot;
}

.alert {color:red; margin:0;padding:0;}
.success {color:red; margin:0;padding:0;}

.btn,
.form-control {
    border-radius: 25px;
}
textarea {resize:none;}
.addtask-btn {
    float:right;
    box-shadow: 2px 2px 2px #ccc;
    padding-right:2rem;
    padding-left:2rem;
}


.tasklist,
.completed {
    transition: all .5s ease-in-out;
}

ul.list-group {
    h6 {margin:0;padding:0; font-weight: 700;}
    transition: all .5s ease-in-out;
    .list-group-item {
        padding:2rem;
        margin-bottom:2rem;
        
        .check-btn,
        .trash-btn {
            background:none;
            border-radius: 3px;
            padding:.5rem 2rem;
            i {pointer-events:none;}
        }
        .check-btn {color:green; border:1px solid green;}
        .trash-btn {color:red; border:1px solid red; margin-right:10px;}
        .card-assign {
            font-size:14px;
        }
        .card-description {
            padding: 1rem 0;
        }
        .card-date {
            padding-bottom:.5rem;
        }
        .card-status {
            margin-top:.5rem;
        }
    }
}
.vanish {opacity:0; transition: all .5s ease-in-out;}
.appear {opacity: 100;}