


.container {
    max-width:960px;
}

header {
    h1 {text-align:center; margin-bottom:2rem;}
    .container {
        padding: 2rem;
    }
}


#add-task-form {
    .form-group .form-control {
        margin-top:1rem;
    }
    .form-control {
        border-radius: 25px;
        margin-bottom:1rem;
    }
    textarea {
        resize:none;
        height:100%;
    }
    .btn-add-task {
        border-radius: 25px;
        float:right;
        padding: .5rem 1.5rem;
        box-shadow: 3px 3px 3px #ccc;
    }
    input,textarea {text-align:center;}
}

main {margin-top: 2rem;}
#tasklist {
    margin-top:1rem;
    .tasklist-item {
        margin-bottom:1rem;
        .card,
        .card-header,
        .card-footer,
        .card-body {
            border:none;
            background:none;
        }
        .card-date {margin-top:1rem;}
        .card-body {margin:0;padding-top:0; padding-bottom:0;}
        .card-footer {
            margin-top:1rem;
            background:#eee;
            border-radius: 10px;
            padding:1rem 1rem;
        }
        .card-status {
            button {
                border:none;
                background:none;
            }
            .alert,
            .fa-trash {color:red;}
            .success,
            .fa-check {color:green;}
        }
        .title {font-weight: 600;}
        .sub {font-weight: 500; color:#444;}
    }
}



.alert {color:red; margin-left:-1rem;}